<div *ngIf="currentQuestion"
     class="sticky-container">
  <div class="container">
    <div *ngIf="!lessonEnded"
         class="question">
      <div class="row">
        <div class="col-12">
          <div class="text-right">
            {{currentScore}}/{{lesson.questions.length}}
          </div>
        </div>
      </div>
      <div class="row question-text">

        <div [innerHTML]="currentQuestion?.text"></div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="list-group"
               *ngIf="textOptions && textOptions.length > 0">
            <button *ngFor="let option of textOptions"
                    (click)="setSelectedOption(option)"
                    class="list-group-item list-group-item-action option"
                    [disabled]="displayResultPanel">
              {{option.option}}
            </button>
          </div>
          <div class="row">
            <div *ngFor="let option of imageOptions"
                 class="col-6 image-option"
                 [ngClass]="{'selected': selectedOption.id === option.id}">
              <img (click)="setSelectedOption(option)"
                   class="img-fluid mx-auto d-block rounded"
                   src="{{'data:image/jpg;base64,' + option.option}}" />
            </div>
          </div>

        </div>
      </div>
    </div>

    <div *ngIf="lessonEnded">
      <h3 class="score">Score : {{currentScore}}/{{lesson.questions.length}}</h3>
    </div>
  </div>

  <div class="results-panel  border-top"
       [ngClass]="{'list-group-item-success': isAnswerCorrect && displayResultPanel && !lessonEnded, 'list-group-item-danger': !isAnswerCorrect && displayResultPanel && !lessonEnded}">
    <div class="container">
      <div class="row"
           *ngIf="!displayResultPanel">
        <div class="col-md-6 col-12 text-center">
          <button class="btn btn-primary action-button"
                  (click)="skip()">Skip</button>
        </div>
        <div class="col-md-6 col-12 text-center order-first order-md-last">
          <button class="btn action-button"
                  [ngClass]="{'btn-success' : selectedOption.id, 'btn-secondary' : !selectedOption.id}"
                  (click)="checkIfCorrect()"
                  [disabled]="!selectedOption.id">Check</button>
        </div>
      </div>


      <div class="row"
           *ngIf="displayResultPanel">
        <div class="col-md-6 col-12 text-center">
          <div *ngIf="!lessonEnded">
            <div *ngIf="isAnswerCorrect">
              <div class="row">
                <div class="col-4">
                  <i class="material-icons text-success"
                     style="font-size:60px;">done</i>
                </div>
                <div class="col-8 result-text">
                  You are correct!
                </div>
              </div>
            </div>
            <div *ngIf="!isAnswerCorrect">
              <div class="row">
                <div class="col-4">
                  <i class="material-icons text-danger"
                     style="font-size:60px;">clear</i>
                </div>
                <div class="col-8 result-text">
                  <div *ngIf="correctAnswer.typeId === 1">
                    Correct solution: {{correctAnswer.option}}
                  </div>
                  <div class="row"
                       *ngIf="correctAnswer.typeId === 2">
                    <div class="col-9">Correct solution:
                    </div>
                    <div class="col-3">
                      <img class="img-fluid mx-auto d-block rounded correct-answer"
                           src="{{'data:image/png;base64,' + correctAnswer.option}}" />
                    </div>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-12 text-center">
          <button class="btn btn-primary action-button"
                  (click)="continue()">Continue</button>
        </div>
      </div>
    </div>


  </div>
</div>
