<form #lessonForm="ngForm">
  <div>
    <label>Lesson</label>

    {{currentLesson | json}}
    <select class="form-control"
            (change)="onLessonSelect($event)">
      <option value="">Select Existing</option>
      <option [value]="lesson.id"
              *ngFor="let lesson of lessons">
        {{lesson.name}}
      </option>
    </select>

    <br />

    <div class="form-group">

      <input type="text"
             [(ngModel)]="currentLesson.name"
             class="form-control"
             name="currentLesson.name"
             placeholder="Add New">
    </div>

    <button *ngIf="currentLesson.id"
            type="button"
            class="btn btn-primary"
            (click)="saveLesson()">Save Lesson</button>
    {{message}}
  </div>
  <br />
  <div>
    <label>Questions</label>

    <select class="form-control"
            (change)="onQuestionSelect($event)">
      <option value="">Select Existing</option>
      <option [value]="question.id"
              *ngFor="let question of currentLesson.questions">
        {{question.text}}
      </option>
    </select>


    <br />

    <div class="form-group">

      <input type="text"
             [(ngModel)]="currentQuestion.text"
             class="form-control"
             name="currentQuestion.text"
             placeholder="Add New">
    </div>

    <button type="button"
            class="btn btn-primary"
            (click)="addQuestion()">Save Question</button>
  </div>
  <br />
  <div>
    <label>Options</label>

    <select class="form-control"
            (change)="onOptionSelect($event)">
      <option value="">Select Existing</option>
      <option [value]="option.id"
              *ngFor="let option of currentQuestion.options">
        {{option.option.toString()}}
      </option>
    </select>


    <br />

    <div class="form-group">

      <input type="text"
             [(ngModel)]="currentOption.option"
             class="form-control"
             name="currentOption.option"
             placeholder="Add New">
    </div>

    <button type="button"
            class="btn btn-primary"
            (click)="addOption()">Save Option</button>
  </div>
